
/polplugins/DATs/NextHD
/logs
/config/addons/LuAshitacast/Tumz_576395/backups
config/pivot/pivot.ini
/config/plugins/FindAll/cache
/config/addons/chains
/config/addons/equipmon
/config/addons/HXUI
/config/addons/PartyBuffs
/config/addons/points
/config/addons/tTimers
config/imgui.ini
/config/minimap
/config/plugins/FindAll
config/addons/**/settings.lua
config/minimap/minimap.ini
config/imgui.ini
